// Colors
// ### Primary

$orange-vibrant: hsl(26, 100%, 55%);
$orange-light: hsl(25, 100%, 94%);

// ### Neutral

$blue-dark-very: hsl(220, 13%, 13%);
$blue-gray-dark: hsl(219, 9%, 45%);
$blue-gray: hsl(220, 14%, 75%);
$blue-gray-light: hsl(223, 64%, 98%);
