@use "./base/font.scss";
@use "./base/variable.scss" as *;
@use "./base/mixin.scss" as *;
@use "./base/reset.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
}
/* Header */
.cart {
  .cart-icon {
    position: relative;
    img {
      width: 20px;
      height: auto;
    }
    span {
      width: 16px;
      height: 16px;
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color: hsl(26, 100%, 55%);
      color: white;
      font-size: 12px;
      text-align: center;
    }
  }
  .avatar {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.separator {
  margin: 0 auto;
  width: 88%;
  background-color: $blue-gray-dark;
  margin-top: 18px;
}

/* Products List */
// Gallery

.card-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  .img-display {
    img {
      width: 100%;
      display: block;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      max-width: 418px;
      margin-bottom: 10px;
    }
  }
  .img-select {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .img-item {
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: cover;
        border-radius: 11px;
        max-width: 97px;
        transition: all 300ms;
        transform: scale(1);
        border: 2px solid transparent;
        &:hover {
          opacity: 0.5;
          border: 2px solid $orange-vibrant;
          border-radius: 11px;
          // transform: scale(1.2);
          max-width: 97px;
        }
      }
    }
  }
}
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  .modal-content {
    position: relative;
    .close-button {
      position: absolute;
      top: -8px;
      right: -4%;
      background-color: white;
      padding: 15px;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        filter: invert(49%) sepia(19%) saturate(25.5) hue-rotate(-12deg)
          brightness(99%);
      }
    }
    .modal-img {
      img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        max-width: 418px;
        margin-bottom: 10px;
      }
      .img-select {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
        .img-item {
          cursor: pointer;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
            height: auto;
            object-fit: cover;
            border-radius: 11px;
            max-width: 70px;
            transition: all 300ms;

            border: 2px solid transparent;
            &:hover {
              opacity: 0.5;
              border: 2px solid $orange-vibrant;
              border-radius: 11px;
            }
          }
        }
      }
    }
    .modal-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
          max-width: 20px;
          filter: invert(49%) sepia(19%) saturate(25.5) hue-rotate(-12deg)
            brightness(99%);
        }
      }

      .prev {
        left: 0;
        top: -20%;
      }

      .next {
        right: 0;
        top: -20%;
      }
    }
  }
}

// product-info

.product-content {
  width: 50%;
  h2 {
    color: $orange-vibrant;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: $blue-dark-very;
    margin-bottom: 18px;
  }
  .product-detail {
    p {
      color: $blue-gray;
      margin-bottom: 18px;
      padding-right: 7rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
  .product-price {
    .price {
      display: flex;
      align-items: center;
      gap: 15px;

      .discount {
        background-color: $orange-light;
        color: $orange-vibrant;
        font-weight: 700;
        font-size: 0.8rem;
        border-radius: 7px;
        padding: 3px 7px;
      }
    }
  }
  .purchase-info {
    .info-quantity {
      img {
        width: 11px;
        height: auto;
        display: block;
        max-width: 12px;
      }
    }
    .btn-add {
      background-color: hsl(26, 100%, 55%);
      color: white;
      border-radius: 5px;
      gap: 15px;
      display: flex;
      align-items: center;
      padding: 10px 31px;
      img {
        width: 15px;
        height: auto;
        display: block;
        max-width: 18px;
        filter: brightness(1000%) contrast(100%);
      }
    }
  }
}
