@use "./base/font.scss";
@use "./base/variable.scss" as *;
@use "./base/mixin.scss" as *;
@use "./base/reset.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245 245 244);
  font-family: "Kumbh Sans", sans-serif;
}
/* Header */
.cart {
  .cart-icon {
    position: relative;
    img {
      width: 20px;
      height: auto;
    }
    span {
      width: 13px;
      height: 13px;
      position: absolute;
      top: -6px;
      right: -6px;
      border-radius: 50%;
      background-color: $orange-vibrant;
      color: white;
    }
  }
  .avatar {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.separator {
  margin: 0 auto;
  width: 88%;
  background-color: $blue-gray-dark;
}
